<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
		<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/zhou</property> -->
		<!-- <property name="hibernate.connection.username">root</property> -->
		<!-- <property name="hibernate.connection.password">zhou123</property> -->

		<!--确定数据库的编码格式为utf-8 -->
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>


		<property name="show_sql">true</property>
		<property name="format_sql">true</property>


		<property name="hbm2ddl.auto">update</property>


		<!--设值数据库方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!-- org.hibernate.dialect.MySQL5Dialect MySQLInnoDBDialect -->

		


		<mapping resource="cn/zhou/entity/User.hbm.xml" />

	</session-factory>
</hibernate-configuration>